* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* top banner css style start */
.top-banner {
    background-color: rgb(238, 233, 185);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-title {
    width: 50%;
    margin-left: 150px;
}

.banner-image {
    width: 50%;
}

.banner-title #special-offer {
    color: black;
    font-weight: 500;
}

.banner-title h1 {
    font-size: 30px;
    font-weight: 700;
}

.orange-color {
    color: orange;
}

.banner-title #banner-details {
    color: gray;
    padding-top: 5px;
    width: 50%;
}

.link-button {
    text-decoration: none;
    display: inline-block;
    color: white;
    background-image: linear-gradient(45deg, orange, tomato);
    padding: 10px 20px;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 20px;
}

.banner-image img {
    width: 90%;
}

/* top banner css style end */

/* our-services css code start */
.our-services {
    width: 100%;
    margin-top: 70px;
}

.our-services h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.our-services .card-row {
    display: flex;
    justify-content: center;
}

.our-services .card {
    background-color: rgb(238, 233, 185);
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 25%;
    margin: 15px;
}

.card img {
    padding-left: 15px;
}

.card-details {
    padding: 5px;
}

.card-details p {
    color: gray;
}

.icon img {
    width: 75%;
}

#return-img {
    width: 100%;
}

/* our-services css code end */

/* laptop aria css code start */
.laptop-aria {
    margin-top: 70px;
    width: 100%;
}

.laptop-aria h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

#best-laptop {
    position: relative;
    top: 40px;
    margin-left: 11%;
}

.laptop-aria .card-row {
    display: grid;
    grid-template-columns: repeat(3, 25%);
    gap: 25px;
    justify-content: center;
    margin-top: 50px;
}

.laptop-aria .card img {
    width: 100%;
}

.laptop-aria .card h3 {
    padding-top: 10px;
    font-weight: 700;
}

.laptop-aria .card p {
    color: rgba(0, 0, 0, 0.795);
}

.laptop-aria .card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

/* laptop aria css code end */

/* Latest Update section css code start */
.updates-aria {
    margin-top: 70px;
    width: 100%;
}

.updates-aria h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.input-field {
    background-color: rgb(238, 233, 185);
    width: 70%;
    margin: 15px auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.input-field input {
    border-radius: 5px 0 0 5px;
    margin: 50px 0;
    height: 30px;
    border: 0;
    padding-left: 10px;
}

.input-field button {
    color: white;
    padding: 5px 15px;
    margin: 50px 0;
    background-image: linear-gradient(45deg, orange, tomato);
    font-weight: 500;
    border-radius: 0 5px 5px 0;
    height: 30px;
    border: 0;
}

/* Latest Update section css code end */

footer {
    background-color: rgb(1, 2, 20);
    text-align: center;
    color: white;
}

footer h1 {
    font-size: 30px;
    font-weight: 700;
    padding-top: 20px;
}

footer p {
    padding-top: 30px;
}